APP_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"

DATABASE_URL="mongodb+srv://clayton_c40:81045782@cluster0.0qpnh90.mongodb.net/auth-teste?retryWrites=true&w=majority&appName=Cluster0"
SECRET="RANDOM_GENERATED_SECRET"

GOOGLE_ID="xxx"
GOOGLE_SECRET="xxx"

FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""

# Email SMTP Server Configuration 
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_SECURE=false               # true para portas seguras como 465, false para 587
EMAIL_USERNAME="hoodwood30@gmail.com"
EMAIL_PASSWORD="tsdp tugm bvmy ofvk"